{% extends "index.twig" %}
 
{% set pageTitle = entry.title %}

{% block content %}


<div class="section grid-layout grid-layout__project navspace">
    <a href="{{ baseUrl }}" class="backArrow"><img src="/src/assets/img/left-arrow.svg" alt="left-arrow"></a>
    <h2 class="projectCategory">{{entry.categorie.one().title}}</h2>
    <h1 class="projectName">{{entry.title}}</h1>
    {% set image = entry.imageBien.one() %}
    <div class="projectImage">
        <img src="{{ image.getUrl('bienbanner') }}" alt="{{ entry.imageBien.one().title }}">
    </div>
    <h2 class="projectLocation">{{entry.emplacement}}</h2>
    <p class="projectDescription">{{ entry.description | nl2br }}</p> <!-- nl2br converts empty lines in Craft to <br> tags -->
</div>

<div class="section grid-layout grid-layout__photos">

    <h2><span>Plus de</span> photos</h2>

    {%  set images = entry.imageBien.all() %}

    <div class="grid-layout project-gallery">
        {% for image in images %}
        <div class="project-gallery-item">
            <img src="{{ image.getUrl('bien') }}" alt="{{ image.title }}">
        </div>
        {% endfor %}
    </div>
    
</div>

{% endblock %}