{% extends "index.twig" %}
 
{% block content %}

{% set categories = craft.categories.group('categories').all() %}

<div class="section grid-layout navspace">

    <input type="radio" id="filter-all" class="filters__input" name="projects-filter" checked>

    {% for category in categories %}
        <input type="radio" id="filter-{{ category.slug }}" class="filters__input" name="projects-filter">
    {% endfor %}

    <div class="projectCards__filters">
        <ul class="filters__list">
            <li class="filters__item">
                <label class="filters__label" for="filter-all">
                    <p>{{'All'|t}}</p>
                </label>
            </li>
            {% for category in categories %}
                <li class="filters__item">
                    <label class="filters__label" for="filter-{{ category.slug }}">
                        <p>{{ category.title }}</p>
                    </label>
                </li>
            {% endfor %}

        </ul>
    </div>


    <div class="grid-layout grid-layout__gallery">

        {% set projects = craft.entries.section('projets').all() %}

        {% for project in projects %}
            {% set projectStyle = project.projectStyle ?? 'horizontalSmall' %}
            {% set cardClass = projectStyle == 'vertical'
                ? 'gallery-item--vertical'
                : (projectStyle == 'horizontalBig' ? 'gallery-item--horizontal-big' : 'gallery-item--horizontal-small') %}
            {% set image = projectStyle == 'vertical'
                ? (project.imagesVerticales.one() ?? project.imagesHorizontales.one())
                : (project.imagesHorizontales.one() ?? project.imagesVerticales.one()) %}
            {% set category = project.categorie.one() %}

            <div class="{{ category.slug }} gallery-item {{ cardClass }}">
                <a href="{{ project.url }}">
                    {% if image %}
                    <img src="{{ image.getUrl('bien') }}" alt="{{ image.title }}">
                    {% endif %}
                    <div>
                        <p>{{ category.title }}</p>
                        <p>{{ project.title }}</p>
                        <p>{{ project.emplacement }}</p>
                    </div>
                </a>
            </div>

        {% endfor %}

    </div>

</div>


<style>

    {% for category in categories %}
        #filter-{{ category.slug }}:checked ~ .projectCards__filters .filters__label[for="filter-{{ category.slug }}"] {
            text-decoration: underline;
        }
        #filter-{{ category.slug }}:checked ~ .grid-layout__gallery .{{ category.slug }} {
            display: block;
        }
    {% endfor %}

</style>

{% endblock %}
